<%- include("partials/header") -%> 

  <section class="my-5">
    <div class="py-5">
      <h2 class="text-center mt-4 p-5 title-text text-white rounded"> About Us </h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 ">
          <img src="../images/about/1.jpg" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <h3 class="display-4"> I am Harsh Chavan </h3> 
          <p class="py-3 h3"> Welcome, To completely responsive dynamic website using HTML, CSS, Mongoose. We use Bootstrap4 also, creating multiple web pages and also made a contact page where we
            attached the database to get the data so that User can Share the feedback for the futher improvments so we can grow well </p>
        </div>
      </div>
    </div>
  </section>

<%- include("partials/footer") -%> 

 
