<%- include("partials/header") -%> 


  <section class="my-5">
    <div class="py-5">
      <h2 class="text-center mt-4 p-5 title-text text-white rounded"> Profiles </h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card my-5 text-center">
            <img class="card-img-top" src="../images/profiles/1.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Samara Tara</h4>
              <p class="card-text">Agra,India</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card my-5 text-center">
            <img class="card-img-top" src="../images/profiles/2.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Alexandre Lea</h4>
              <p class="card-text">Peru</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card my-5 text-center">
            <img class="card-img-top" src="../images/profiles/3.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Mac Borden</h4>
              <p class="card-text">China</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card my-5 text-center">
            <img class="card-img-top" src="../images/profiles/4.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Ayan Sharma</h4>
              <p class="card-text">London</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card my-5 text-center">
            <img class="card-img-top" src="../images/profiles/5.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Dev Raj Verma</h4>
              <p class="card-text">Paris</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card my-5 text-center">
            <img class="card-img-top" src="../images/profiles/6.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Peter Parker</h4>
              <p class="card-text">Rome</p>
            </div>
          </div>
        </div>
        

      </div>
    </div>
  </section>
  <%- include("partials/footer") -%> 
