<%- include("partials/header") -%> 

	<br>
	<br>
	<br>
	<div class="container" >
		<div class="row">
		<div class="col-md-3">
		</div>
				
		<div class="col-md-6 main text-center">
					
			<h1 id = "submitted"> Submitted Successful</h1>
				<p><a href="/">Return Home</a></p>	
		</div>
				
				
		<div class="col-md-3">
		</div>
				
		</div>
	</div>
	<%- include("partials/footer") -%> 

